:root {
  --form-background-color: #f6f7f8;
  --form-border-color: #d6d9dc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #5d6063;
  background-color: #eaedf0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-form-header {
  text-align: center;
  background-color: var(--form-background-color);
  border: 1px solid var(--form-border-color);
  border-radius: 3px;

  width: 80%;
  padding: 3rem;
  margin: 2.5rem 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.speaker-form {
  background-color: var(--form-background-color);
  border: 1px solid var(--form-border-color);
  border-radius: 3px;

  width: 80%;
  padding: 3rem;
  margin: 0 0 2.5rem 0;
}

.form-row {
  margin-bottom: 2.5rem;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row label {
  margin-bottom: 1rem;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  background-color: #ffffff;
  border: 1px solid var(--form-border-color);
  border-radius: 3px;

  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
  color: #d55c5f;
  border: 1px solid #d55c5f;
  box-shadow: none;
}

.legacy-form-row {
  border: none;
  margin-bottom: 2.5rem;
}

.legacy-form-row legend {
  margin-bottom: 1rem;
}

.legacy-form-row .radio-label {
  display: block;
  font-size: 0.9rem;
  padding: 0 1.5rem 0 0.5rem;
}

.legacy-form-row input[type="radio"] {
  margin-top: 0.2rem;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type="radio"] {
  float: left;
}

@media only screen and (min-width: 700px) {
  .speaker-form-header,
  .speaker-form {
    width: 37.5rem;
  }

  .form-row {
    margin-bottom: 1.5rem;

    flex-direction: row;
    align-items: flex-start;
  }

  .form-row input[type="text"],
  .form-row input[type="email"],
  .form-row select,
  .form-row textarea {
    width: 15.5rem;
    height: initial;
  }

  .form-row label {
    text-align: right;

    width: 7.5rem;
    padding-right: 1.5rem;
    margin-top: 0.5rem;
  }

  .legacy-form-row {
    margin-bottom: 0.5rem;
  }

  .legacy-form-row legend {
    text-align: right;

    width: 7.5rem;
    padding-right: 1.5rem;
    float: left;
  }
}
