* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #5d6063;
  background-color: #eaedf0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-form-header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  padding: 3rem;
  margin: 2.5rem 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
