:root {
  --form-background-color: #f6f7f8;
  --form-border-color: #d6d9dc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #5d6063;
  background-color: #eaedf0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-form-header {
  text-align: center;
  background-color: var(--form-background-color);
  border: 1px solid var(--form-border-color);
  border-radius: 3px;

  width: 80%;
  padding: 3rem;
  margin: 2.5rem 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.speaker-form {
  background-color: var(--form-background-color);
  border: 1px solid var(--form-border-color);
  border-radius: 3px;

  width: 80%;
  padding: 3rem;
  margin: 0 0 2.5rem 0;
}

.form-row {
  margin-bottom: 2.5rem;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"] {
  background-color: #ffffff;
  border: 1px solid var(--form-border-color);
  border-radius: 3px;

  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.form-row label {
  margin-bottom: 1rem;
}
